body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 100px;
    padding: 100px;
}

header {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #337ab7;
    text-decoration: none;
}

nav a:hover {
    color: #23527c;
}

section {
    padding: 2em;
}

h2 {
    color: #337ab7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #23527c;
}










